.container__compiler
{
    display: flex;
}

.source__code
{
    display: flex;
    flex-direction: column;
    
}
.horizontal__flex
{
    display: flex;
    
    max-width: 85vw;
}
.questions
{
   
   
    color: white;
}

.menuButton {
    margin-right: 5px;
  }
  .navbar__logo
  {
      width: 10%;
      margin-left: 10px;
      margin-right: 10px;
      object-fit: contain;
  }