/* .root
{
        flex-grow: 1;
        
     
} */
.menuButton {
    margin-right: 5px;
  }
  .navbar__logo
  {
      width: 10%;
      margin-left: 10px;
      margin-right: 10px;
      object-fit: contain;
  }